name: "Pre-release"

on:
  push:
    branches:
      - prerelease

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-release-client:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform:
          - macos-latest
          - ubuntu-22.04
          - windows-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          working-directory: ./apps/client
          setup-tauri: "true"

      - name: Build and release Tauri app
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: ./apps/client
          tagName: app-v__VERSION__
          releaseName: "App v__VERSION__"
          releaseBody: "See the assets to download this version and install."
          releaseDraft: true
          prerelease: true
          args: ${{ runner.os == 'macOS' && '--target aarch64-apple-darwin --target x86_64-apple-darwin' || '' }}

  deploy-server:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          workingDirectory: ./apps/server
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: deploy --env preview
